{% extends "layout.html" %}

{% block content %}
<div class="ptw-card-wide mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
        <h2 class="mdl-card__title-text">Which anime should I watch next?</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <form action="/random.php" id="randomForm" method="post">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="username" name="username">
                <label class="mdl-textfield__label" for="username">MAL Username</label>
            </div>
        </form>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" type="submit" form="randomForm">Random Anime</button>
        <span id="loading" class="mdl-progress mdl-js-progress mdl-progress__indeterminate" style="display:none;width:250px;float:right;margin-top:17px;"></span>
    </div>
</div>
{% endblock %}

{% block result %}
    <div style="display:none;margin-top:5px;" id="resultCard" class="ptw-card-wide mdl-card mdl-shadow--6dp">
        <div class="mdl-card__title mdl-color--primary mdl-color-text--white ptw-image">
            <h2 id="resultTitle" class="mdl-card__title-text ptw-text-shadow"> </h2>
        </div>
        <div id="resultDesc" class="mdl-card__supporting-text"> </div>
        <div id="resultButtons" class="mdl-card__actions mdl-card--border">
            <a id="resultInfo" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">More Info</a>
            <a id="rollAgain" style="float:right;" class="mdl-button mdl-js-button mdl-js-ripple-effect">Another one</a>
        </div>
    </div>
{% endblock %}